[submodule "baseball"]
	path = baseball
	url = https://github.com/Limgayoung/woowa_java-baseball-6.git
	branch = main
[submodule "racingcar"]
	path = racingcar
	url = https://github.com/Limgayoung/woowa_java-racingcar-6.git
	branch = main
[submodule "lotto"]
	path = lotto
	url = https://github.com/Limgayoung/woowa_java-lotto-6.git
	branch = main
